
@{
    ViewBag.Title = "Thank you";
}

<section class="container">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
            <h2>Thank you for your feedback</h2>
            <div class="alert alert-success" role="alert">
                <strong>Thank you!</strong> Your review will be appreciated by our members.
            </div>
        </div>
    </div>
</section>


